Repository namada-net/namada, pull requests merged in 2022-07, with the labels that each got.

#169 Port specifications for Namada
  documentation/spec/.gitignore
  documentation/spec/Makefile
  documentation/spec/book.toml
  documentation/spec/src/SUMMARY.md
  documentation/spec/src/base-ledger.md
  documentation/spec/src/base-ledger/consensus.md
  documentation/spec/src/base-ledger/execution.md
  documentation/spec/src/base-ledger/governance.md
  documentation/spec/src/chapter_1.md
  documentation/spec/src/economics.md
  documentation/spec/src/economics/fee-system.md
  documentation/spec/src/economics/images/inflation.png
  documentation/spec/src/economics/images/inflation.svg
  documentation/spec/src/economics/images/locking.png
  documentation/spec/src/economics/images/locking.svg
  documentation/spec/src/economics/inflation-system.md
  documentation/spec/src/economics/proof-of-stake.md
  documentation/spec/src/economics/proof-of-stake/bonding-mechanism.md
  documentation/spec/src/economics/proof-of-stake/cubic-slashing.md
  documentation/spec/src/economics/proof-of-stake/reward-distribution.md
  documentation/spec/src/economics/public-goods-funding.md
  documentation/spec/src/economics/shielded-pool-incentives.md
  documentation/spec/src/further-reading.md
  documentation/spec/src/index.md
  documentation/spec/src/interoperability.md
  documentation/spec/src/interoperability/ethereum-bridge.md
  documentation/spec/src/interoperability/ibc.md
  documentation/spec/src/masp.md
  documentation/spec/src/masp/asset-type.md
  documentation/spec/src/masp/burn-and-mint.md
  documentation/spec/src/masp/convert-circuit.md
  documentation/spec/src/masp/ledger-integration.md
  documentation/spec/src/masp/trusted-setup-assets/contribution-sequence-diagram.png
  documentation/spec/src/masp/trusted-setup-assets/optimistic-mmorpg-mpc-diagram.png
  documentation/spec/src/masp/trusted-setup-assets/trusted-setup-actors.png
  documentation/spec/src/masp/trusted-setup.md
  documentation/spec/src/user-interfaces.md
  documentation/spec/src/user-interfaces/explorer.md
  documentation/spec/src/user-interfaces/external-integrations.md
  documentation/spec/src/user-interfaces/stakingAndGovernance.png
  documentation/spec/src/user-interfaces/web-explorer-interface.md
  documentation/spec/src/user-interfaces/web-wallet-interface.md
  documentation/spec/src/user-interfaces/web-wallet.md
  documentation/spec/src/user-interfaces/web-wallet/client-application.md
  documentation/spec/src/user-interfaces/web-wallet/features.md
  documentation/spec/src/user-interfaces/web-wallet/ibc.md
  documentation/spec/src/user-interfaces/web-wallet/interface-technical-specifications.md
  documentation/spec/src/user-interfaces/web-wallet/interface.md
  documentation/spec/src/user-interfaces/web-wallet/key-derivation.md
  documentation/spec/src/user-interfaces/web-wallet/persistence.md
  documentation/spec/src/user-interfaces/web-wallet/rpc.md
  documentation/spec/src/user-interfaces/web-wallet/stakingAndGovernance.png
  documentation/spec/src/user-interfaces/web-wallet/transparent-transactions.md
  documentation/spec/src/user-interfaces/web-wallet/user-interfaces.md
Labels: documentation, prio:high, spec, namada

#179 Namada spec changes contd.
  README.md
  documentation/docs/book.toml
  documentation/docs/src/chapter_1.md
  documentation/docs/src/user-interfaces/explorer.md
  documentation/docs/src/user-interfaces/external-integrations.md
  documentation/docs/src/user-interfaces/stakingAndGovernance.png
  documentation/docs/src/user-interfaces/web-explorer-interface.md
  documentation/docs/src/user-interfaces/web-wallet-interface.md
  documentation/docs/src/user-interfaces/web-wallet.md
  documentation/docs/src/user-interfaces/web-wallet/client-application.md
  documentation/docs/src/user-interfaces/web-wallet/features.md
  documentation/docs/src/user-interfaces/web-wallet/ibc.md
  documentation/docs/src/user-interfaces/web-wallet/interface-technical-specifications.md
  documentation/docs/src/user-interfaces/web-wallet/interface.md
  documentation/docs/src/user-interfaces/web-wallet/key-derivation.md
  documentation/docs/src/user-interfaces/web-wallet/persistence.md
  documentation/docs/src/user-interfaces/web-wallet/rpc.md
  documentation/docs/src/user-interfaces/web-wallet/stakingAndGovernance.png
  documentation/docs/src/user-interfaces/web-wallet/transparent-transactions.md
  documentation/docs/src/user-interfaces/web-wallet/user-interfaces.md
  documentation/specs/Makefile
  documentation/specs/src/SUMMARY.md
  documentation/specs/src/base-ledger/default-account.md
  documentation/specs/src/base-ledger/execution.md
  documentation/specs/src/base-ledger/fungible-token.md
  documentation/specs/src/base-ledger/governance.md
  documentation/specs/src/base-ledger/multisignature.md
  documentation/specs/src/economics/inflation-system.md
  documentation/specs/src/economics/public-goods-funding.md
  documentation/specs/src/economics/shielded-pool-incentives.md
  documentation/specs/src/interoperability/ethereum-bridge.md
  documentation/specs/src/introduction.md
  documentation/specs/src/masp/trusted-setup-assets/namada-ts-arch.png
  documentation/specs/src/masp/trusted-setup-assets/namda-ts-swimlane.png
  documentation/specs/src/masp/trusted-setup.md
Labels: prio:high, spec

#185 Masp should not incentivize "destroying the disabled"
  documentation/specs/src/base-ledger/governance.md
  documentation/specs/src/economics/inflation-system.md
  documentation/specs/src/economics/proof-of-stake.md
  documentation/specs/src/economics/proof-of-stake/bonding-mechanism.md
  documentation/specs/src/economics/shielded-pool-incentives.md
  documentation/specs/src/interoperability/ibc.md
  documentation/specs/src/masp/burn-and-mint.md
  documentation/specs/src/masp/convert-circuit.md
Labels: spec
