Repository namada-net/namada, pull requests merged in 2022-12, with the labels that each got.

#852 CI: fix cache/step rename
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
Labels: CI, skip-devnet-tests

#778 Implement `BlockSpaceAllocator` state machine
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states/decrypted_txs.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states/encrypted_txs.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states/protocol_txs.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states/remaining_txs.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/tx_bins.rs
Labels: ledger, ethereum-bridge

#791 Add `BlockSpaceAllocator` unit tests
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc.rs
Labels: ledger, ethereum-bridge

#854 docs: update PoS user docs for 0.11.0
  documentation/docs/src/user-guide/ledger/pos.md
Labels: documentation, skip-devnet-tests

#744 Add a new Makefile target to print stack traces after running failing unit tests
  Makefile
Labels: skip-devnet-tests

#804 Add IBC E2E test to the test list
  .github/workflows/scripts/e2e.json
Labels: skip-devnet-tests

#855 Ensure minimum confirmations are enforced for pending Ethereum events
  apps/src/lib/node/ledger/ethereum_node/events.rs
Labels: ethereum-bridge

#851 Changed the bytes passed into merkle proof to be references
  proof_of_stake/src/lib.rs
  shared/src/ledger/queries/shell.rs
  shared/src/ledger/storage/merkle_tree.rs
  shared/src/ledger/storage/mod.rs
  shared/src/ledger/storage/traits.rs
  shared/src/types/token.rs
  wasm/wasm_source/proptest-regressions/tx_bond.txt
  wasm/wasm_source/src/tx_bond.rs
  wasm/wasm_source/src/tx_unbond.rs
Labels: ethereum-bridge

#866 Add extra `CheckTx` validation
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
Labels: ledger, ethereum-bridge

#868 CI: use specific ubuntu version
  .github/workflows/automation.yml
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-tendermint.yml
  .github/workflows/checks.yml
  .github/workflows/cron.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: CI, skip-devnet-tests

#824 Run `make check-abcipp` in CI
  .changelog/unreleased/ci/824-abcipp-ci.md
  .github/workflows/checks.yml
Labels: skip-devnet-tests

#869 fix `make check-abcipp` and `make clippy-abcipp`
  encoding_spec/Cargo.toml
  proof_of_stake/Cargo.toml
  shared/Cargo.toml
  tests/Cargo.toml
  tx_prelude/Cargo.toml
  vm_env/Cargo.toml
  vp_prelude/Cargo.toml
  wasm/checksums.json
Labels: skip-devnet-tests

#768 Handle acting on tallied pieces of data that take longer than one round to confirm
  shared/src/ledger/protocol/transactions/ethereum_events/mod.rs
  shared/src/ledger/protocol/transactions/validator_set_update/mod.rs
  shared/src/ledger/protocol/transactions/votes.rs
  shared/src/ledger/protocol/transactions/votes/update.rs
  shared/src/types/voting_power.rs
Labels: ethereum-bridge

#774 Use `BlockSpaceAllocator` to construct new blocks during PrepareProposal
  Cargo.lock
  Makefile
  apps/Cargo.toml
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc/states/encrypted_txs.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  core/src/hints.rs
  core/src/lib.rs
  shared/src/ledger/queries_ext.rs
Labels: ledger, ethereum-bridge

#877 fix test cov
  tests/Cargo.toml
  wasm/checksums.json
Labels: ethereum-bridge

#887 Initialize `BlockSpaceAllocator` with `max_proposal_bytes`
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/prepare_proposal/block_space_alloc.rs
  core/src/ledger/parameters/mod.rs
  shared/src/ledger/queries_ext.rs
Labels: ledger, ethereum-bridge

#890 Testnet docs
  documentation/docs/src/SUMMARY.md
  documentation/docs/src/testnets/namada-close-quarters-testnet-1.md
  documentation/docs/src/testnets/testnets.md
Labels: documentation, skip-devnet-tests

#900 feat: disable `Send` requirement for async traits to allow wasm-bindgen re-use
  .changelog/unreleased/improvements/900-no-send-async-traits.md
  apps/src/lib/client/types.rs
  shared/src/ledger/queries/mod.rs
  shared/src/ledger/queries/types.rs
Labels: skip-devnet-tests

#667 switch to tendermint fork release v0.1.4-abciplus
  .changelog/unreleased/miscellaneous/667-tendermint-v0.1.4-abciplus.md
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-tendermint.yml
  docker/namada/Dockerfile
  scripts/get_tendermint.sh
Labels: skip-devnet-tests

#909 fix queries rustdocs
  .changelog/unreleased/improvements/909-fix-queries-rustdoc.md
  apps/src/lib/client/tx.rs
  shared/src/ledger/queries/mod.rs
  shared/src/ledger/queries/vp/mod.rs
Labels: skip-devnet-tests

#895 Plug `BlockSpaceAllocator` logic into `ProcessProposal`
  Cargo.lock
  apps/Cargo.toml
  apps/src/lib/client/tx.rs
  apps/src/lib/node/ledger/shell/block_space_alloc.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/decrypted_txs.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/encrypted_txs.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/protocol_txs.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/remaining_txs.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shims/abcipp_shim.rs
Labels: ledger, ethereum-bridge

#948 Fix Tendermint release in CI
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
  .github/workflows/build-tendermint.yml
Labels: ethereum-bridge

#907 Write specs for the `BlockSpaceAllocator`
  documentation/specs/src/SUMMARY.md
  documentation/specs/src/base-ledger/block-space-allocator.md
  documentation/specs/src/base-ledger/images/block-space-allocator-bins.svg
  documentation/specs/src/base-ledger/images/block-space-allocator-example.svg
Labels: ledger, spec, ethereum-bridge

#771 Optimize block proposal
  Cargo.lock
  Makefile
  apps/Cargo.toml
  apps/src/lib/client/tx.rs
  apps/src/lib/node/ledger/shell/block_space_alloc.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/decrypted_txs.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/encrypted_txs.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/protocol_txs.rs
  apps/src/lib/node/ledger/shell/block_space_alloc/states/remaining_txs.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shims/abcipp_shim.rs
  core/src/hints.rs
  core/src/ledger/parameters/mod.rs
  core/src/lib.rs
  documentation/specs/src/SUMMARY.md
  documentation/specs/src/base-ledger/block-space-allocator.md
  documentation/specs/src/base-ledger/images/block-space-allocator-bins.svg
  documentation/specs/src/base-ledger/images/block-space-allocator-example.svg
  proof_of_stake/src/pos_queries.rs
Labels: ledger, ethereum-bridge

#788 PoS spec fixes
  documentation/specs/src/economics/images/cubic_slash.png
  documentation/specs/src/economics/proof-of-stake/cubic-slashing.md
  documentation/specs/src/economics/proof-of-stake/reward-distribution.md
Labels: PoS

#950 Fix allocator logic in `ProcessProposal`
  apps/src/lib/node/ledger/shell/process_proposal.rs
  documentation/specs/src/base-ledger/block-space-allocator.md
Labels: bug, ethereum-bridge
