Repository namada-net/namada, pull requests merged in 2022-11, with the labels that each got.

#726 ci: use commit hash instead of pr number
  .github/workflows/automation.yml
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
  .github/workflows/docs.yml
Labels: CI, skip-devnet-tests

#283 PoS spec updates
  documentation/dev/src/explore/design/ledger/pos-integration.md
  documentation/specs/src/economics/proof-of-stake/bonding-mechanism.md
  documentation/specs/src/economics/proof-of-stake/cubic-slashing.md
  documentation/specs/src/economics/proof-of-stake/reward-distribution.md
Labels: documentation, skip-devnet-tests

#676 Record the block heights at which validators vote for Ethereum events
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/eth_msgs.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/mod.rs
  apps/src/lib/node/ledger/protocol/transactions/mod.rs
  apps/src/lib/node/ledger/protocol/transactions/votes.rs
Labels: ethereum-bridge

#725 Send a validator set update only once per epoch
  Makefile
  apps/src/lib/node/ledger/shell/queries.rs
Labels: ledger, ethereum-bridge

#731 Aggregate votes for validator set updates in storage
  apps/src/lib/node/ledger/protocol/transactions/validator_set_update/mod.rs
Labels: ledger, ethereum-bridge

#747 Return `EncodeCell` from `AbiEncode`
  shared/src/ledger/eth_bridge/storage/bridge_pool.rs
  shared/src/ledger/queries/shell.rs
  shared/src/types/eth_abi.rs
  shared/src/types/eth_bridge_pool.rs
  shared/src/types/keccak.rs
  shared/src/types/key/secp256k1.rs
  shared/src/types/mod.rs
  shared/src/types/vote_extensions/validator_set_update.rs
Labels: ledger, ethereum-bridge

#682 Make the Ethereum events oracle configurable via a channel
  apps/src/lib/node/ledger/ethereum_node/events.rs
  apps/src/lib/node/ledger/ethereum_node/oracle/config.rs
  apps/src/lib/node/ledger/ethereum_node/oracle/control.rs
  apps/src/lib/node/ledger/ethereum_node/oracle/mod.rs
  apps/src/lib/node/ledger/mod.rs
  shared/src/ledger/protocol/transactions/ethereum_events/mod.rs
  shared/src/types/ethereum_events.rs
  wasm/checksums.json
Labels: ethereum-bridge

#753 Move `QueriesExt` out of `apps` and into `shared`
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/queries.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  shared/src/ledger/storage/mod.rs
  shared/src/ledger/storage_api/mod.rs
  shared/src/ledger/storage_api/queries.rs
Labels: ledger, ethereum-bridge

#683 Implement FinalizeBlock changes for validator set update protocol txs
  shared/src/ledger/eth_bridge/storage/vote_tallies.rs
  shared/src/ledger/protocol/mod.rs
  shared/src/ledger/protocol/transactions/ethereum_events/mod.rs
  shared/src/ledger/protocol/transactions/mod.rs
  shared/src/ledger/protocol/transactions/utils.rs
  shared/src/ledger/protocol/transactions/validator_set_update/mod.rs
  shared/src/types/storage.rs
Labels: ledger, ethereum-bridge

#698 documentation changes
  documentation/docs/src/SUMMARY.md
  documentation/docs/src/quick-start.md
  documentation/docs/src/user-guide/README.md
  documentation/docs/src/user-guide/genesis-validator-setup.md
  documentation/docs/src/user-guide/getting-started.md
  documentation/docs/src/user-guide/install.md
  documentation/docs/src/user-guide/ledger.md
  documentation/docs/src/user-guide/ledger/governance.md
  documentation/docs/src/user-guide/ledger/masp.md
  documentation/docs/src/user-guide/ledger/pos.md
  documentation/docs/src/user-guide/wallet.md
  documentation/specs/src/economics/images/cubic_slash.png
  documentation/specs/src/economics/proof-of-stake.md
  documentation/specs/src/economics/proof-of-stake/cubic-slashing.md
Labels: skip-devnet-tests

#782 CI: general improvements
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
  .github/workflows/scripts/e2e.json
  .github/workflows/scripts/schedule-e2e.py
Labels: skip-devnet-tests

#800 ci: added missing makefile recipe
  Makefile
Labels: skip-devnet-tests

#817 Remove protocol tx vote extension digests
  apps/src/lib/node/ledger/shell/finalize_block.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  apps/src/lib/node/ledger/shims/abcipp_shim.rs
  shared/src/ledger/protocol/mod.rs
  shared/src/ledger/protocol/transactions/ethereum_events/mod.rs
  shared/src/ledger/protocol/transactions/validator_set_update/mod.rs
  shared/src/types/transaction/protocol.rs
  shared/src/types/vote_extensions.rs
  shared/src/types/vote_extensions/ethereum_events.rs
  shared/src/types/vote_extensions/validator_set_update.rs
Labels: ledger, ethereum-bridge

#819 Only dequeue Ethereum events if the vext signer is equal to the validator executing `FinalizeBlock`
  apps/src/lib/node/ledger/shell/finalize_block.rs
  apps/src/lib/node/ledger/shell/mod.rs
Labels: bug, ledger, ethereum-bridge

#832 Allow sign extend opcodes in wasms
  Cargo.lock
  shared/Cargo.toml
  shared/src/vm/mod.rs
  wasm/Cargo.lock
  wasm_for_tests/wasm_source/Cargo.lock
Labels: wasm, ethereum-bridge
