Repository namada-net/namada, pull requests merged in 2022-09, with the labels that each got.

#397 Add a configuration section for the Ethereum bridge
  apps/src/lib/config/ethereum.rs
  apps/src/lib/config/mod.rs
  apps/src/lib/node/ledger/ethereum_node/mod.rs
  apps/src/lib/node/ledger/ethereum_node/oracle.rs
  apps/src/lib/node/ledger/mod.rs
Labels: ethereum-bridge

#428 multitoken transfer and query PR#359 for `eth-bridge-integration`
  apps/src/lib/cli.rs
  apps/src/lib/client/rpc.rs
  apps/src/lib/client/tx.rs
  shared/src/types/intent.rs
  shared/src/types/token.rs
  tests/src/e2e/ledger_tests.rs
  vm_env/src/governance.rs
  vm_env/src/ibc.rs
  vm_env/src/proof_of_stake.rs
  vm_env/src/token.rs
  wasm/checksums.json
  wasm/wasm_source/src/tx_from_intent.rs
  wasm/wasm_source/src/tx_transfer.rs
  wasm/wasm_source/src/vp_testnet_faucet.rs
  wasm/wasm_source/src/vp_user.rs
  wasm_for_tests/tx_mint_tokens.wasm
  wasm_for_tests/wasm_source/src/lib.rs
Labels: ethereum-bridge

#381 Add spec for bootstrapping the Ethereum bridge
  documentation/specs/src/interoperability/ethereum-bridge/bootstrapping.md
Labels: spec, ethereum-bridge

#294 Add endpoint for direct submission of Ethereum events
  Cargo.lock
  apps/Cargo.toml
  apps/src/lib/config/ethereum.rs
  apps/src/lib/node/ledger/ethereum_node/mod.rs
  apps/src/lib/node/ledger/ethereum_node/test_tools.rs
  apps/src/lib/node/ledger/mod.rs
Labels: ethereum-bridge

#443 make: use build-doc to only check rustdoc build
  Makefile
Labels: CI, skip-devnet-tests

#446 Update `eth-bridge-integration` with `main`
  .drone.yml
  .github/workflows/automation.yml
  .github/workflows/build-and-test.yml
  .github/workflows/docker.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  .github/workflows/scripts/publish-wasm.py
  .github/workflows/scripts/update-wasm.py
  documentation/dev/src/specs/crypto.md
  documentation/dev/src/specs/encoding.md
  documentation/specs/src/economics/proof-of-stake.md
  encoding_spec/README.md
  encoding_spec/src/main.rs
Labels: ethereum-bridge

#451 Make the ledger accept validator set update protocol transactions
  apps/src/lib/node/ledger/protocol/mod.rs
  apps/src/lib/node/ledger/shell/finalize_block.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
Labels: ethereum-bridge

#437 Shim vote extensions for Tendermint 0.37.x
  Cargo.lock
  Makefile
  apps/Cargo.toml
  apps/src/lib/cli.rs
  apps/src/lib/client/gossip.rs
  apps/src/lib/client/mod.rs
  apps/src/lib/client/rpc.rs
  apps/src/lib/client/signing.rs
  apps/src/lib/client/tendermint_rpc_types.rs
  apps/src/lib/client/tendermint_websocket_client.rs
  apps/src/lib/client/tm_jsonrpc_client.rs
  apps/src/lib/client/tx.rs
  apps/src/lib/client/utils.rs
  apps/src/lib/config/mod.rs
  apps/src/lib/mod.rs
  apps/src/lib/node/ledger/broadcaster.rs
  apps/src/lib/node/ledger/events.rs
  apps/src/lib/node/ledger/mod.rs
  apps/src/lib/node/ledger/rpc.rs
  apps/src/lib/node/ledger/shell/finalize_block.rs
  apps/src/lib/node/ledger/shell/init_chain.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/queries.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  apps/src/lib/node/ledger/shims/abcipp_shim.rs
  apps/src/lib/node/ledger/shims/abcipp_shim_types.rs
  apps/src/lib/node/ledger/tendermint_node.rs
  apps/src/lib/node/matchmaker.rs
  shared/Cargo.toml
  shared/src/ledger/ibc/handler.rs
  shared/src/ledger/storage/merkle_tree.rs
  shared/src/ledger/storage/mod.rs
  shared/src/lib.rs
  shared/src/types/hash.rs
  shared/src/types/time.rs
  shared/src/types/transaction/protocol.rs
  shared/src/types/vote_extensions.rs
  shared/src/types/vote_extensions/ethereum_events.rs
  shared/src/types/vote_extensions/validator_set_update.rs
  vm_env/Cargo.toml
  wasm/checksums.json
  wasm/tx_template/Cargo.lock
  wasm/vp_template/Cargo.lock
  wasm/wasm_source/Cargo.lock
  wasm_for_tests/wasm_source/Cargo.lock
Labels: ethereum-bridge

#329 Permit transfers of wrapped ERC20 tokens between different addresses
  shared/src/ledger/eth_bridge/bridge_pool_vp.rs
  shared/src/ledger/eth_bridge/storage/mod.rs
  shared/src/ledger/eth_bridge/storage/wrapped_erc20s.rs
  shared/src/ledger/eth_bridge/vp.rs
  shared/src/ledger/eth_bridge/vp/authorize.rs
  shared/src/ledger/eth_bridge/vp/mod.rs
  shared/src/ledger/native_vp.rs
  shared/src/types/ethereum_events.rs
  wasm/checksums.json
Labels: ethereum-bridge

#520 Enable mdbook-admonish for the specs mdbook (`eth-bridge-integration`)
  documentation/specs/assets/mdbook-admonish.css
  documentation/specs/book.toml
Labels: spec, ethereum-bridge
