Repository namada-net/namada, pull requests merged in 2022-10, with the labels that each got.

#505 Avoid starving other Tokio tasks while waiting for geth to exit
  apps/src/lib/node/ledger/ethereum_node/mod.rs
Labels: ethereum-bridge

#532 Fix cargo doc
  apps/src/lib/node/ledger/shell/vote_extensions.rs
Labels: ethereum-bridge

#284 Update storage and mint new wrapped ERC20s for a single validator node
  apps/src/lib/node/ledger/protocol/mod.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/eth_msgs.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/events.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/mod.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/read.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/update.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/utils.rs
  apps/src/lib/node/ledger/protocol/transactions/mod.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  shared/src/types/ethereum_events.rs
  shared/src/types/keccak.rs
  shared/src/types/voting_power.rs
Labels: ethereum-bridge

#509 Fix ABCI+ vote extensions logic
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
Labels: ethereum-bridge

#450 Updated specs for Ethereum bridge smart contracts
  documentation/specs/src/interoperability/ethereum-bridge/bootstrapping.md
  documentation/specs/src/interoperability/ethereum-bridge/ethereum_smart_contracts.md
Labels: spec, ethereum-bridge

#541 CI: add slack env
  .github/workflows/automation.yml
Labels: CI, skip-devnet-tests

#253 Allow the use of custom Ethereum JSON-RPC endpoint
  apps/src/lib/config/ethereum.rs
  apps/src/lib/node/ledger/ethereum_node/oracle.rs
  apps/src/lib/node/ledger/mod.rs
Labels: ethereum-bridge

#471 Add Ethereum secp keys to validators
  apps/src/lib/cli.rs
  apps/src/lib/client/tx.rs
  apps/src/lib/client/utils.rs
  apps/src/lib/config/genesis.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/queries.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  apps/src/lib/wallet/defaults.rs
  apps/src/lib/wallet/mod.rs
  apps/src/lib/wallet/pre_genesis.rs
  apps/src/lib/wallet/store.rs
  proof_of_stake/src/lib.rs
  proof_of_stake/src/types.rs
  shared/Cargo.toml
  shared/src/ledger/pos/mod.rs
  shared/src/ledger/pos/storage.rs
  shared/src/ledger/pos/vp.rs
  shared/src/types/ethereum_events.rs
  shared/src/types/key/common.rs
  shared/src/types/key/mod.rs
  shared/src/types/key/secp256k1.rs
  shared/src/types/transaction/mod.rs
  vm_env/src/proof_of_stake.rs
  wasm/checksums.json
Labels: ethereum-bridge, skip-devnet-tests

#585 Use `BTreeSet` instead of `Vec`/`HashSet` for storing validators who have seen an Ethereum event
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/eth_msgs.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/mod.rs
  apps/src/lib/node/ledger/protocol/transactions/ethereum_events/utils.rs
  apps/src/lib/node/ledger/shell/finalize_block.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  documentation/specs/src/interoperability/ethereum-bridge/ethereum_events_attestation.md
  shared/src/ledger/eth_bridge/storage/eth_msgs.rs
  shared/src/types/vote_extensions/ethereum_events.rs
  wasm/checksums.json
Labels: ethereum-bridge

#583 Add install-release target
  Makefile
Labels: skip-devnet-tests

#543 Awa docs review
  .gitignore
  documentation/docs/src/README.md
  documentation/docs/src/SUMMARY.md
  documentation/docs/src/chapter_1.md
  documentation/docs/src/quick-start.md
  documentation/docs/src/user-guide/README.md
  documentation/docs/src/user-guide/ledger/masp.md
  documentation/docs/theme/favicon.png
  documentation/docs/theme/favicon.svg
Labels: documentation, skip-devnet-tests

#590 fix tx bond test condition
  .changelog/unreleased/testing/590-fix-tx-bond-test-condition.md
  wasm/wasm_source/proptest-regressions/tx_bond.txt
  wasm/wasm_source/src/tx_bond.rs
Labels: testing, skip-devnet-tests

#523 Re-enable `run_ledger` e2e test for `eth-bridge-integration`
  tests/src/e2e/ledger_tests.rs
  tests/src/e2e/setup.rs
Labels: ethereum-bridge

#640 Fix the height recorded for a new epoch
  apps/src/lib/node/ledger/shell/queries.rs
  shared/src/ledger/storage/mod.rs
  wasm/checksums.json
Labels: ethereum-bridge

#651 Fix wasms build
  wasm/checksums.json
  wasm/wasm_source/Makefile
Labels: ethereum-bridge

#654 Fix valset upd verification
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
Labels: bug, ledger, ethereum-bridge

#333 Update Namada Specs
  documentation/specs/src/SUMMARY.md
  documentation/specs/src/base-ledger.md
  documentation/specs/src/base-ledger/core-concepts.md
  documentation/specs/src/base-ledger/execution.md
  documentation/specs/src/base-ledger/governance.md
  documentation/specs/src/economics.md
  documentation/specs/src/economics/proof-of-stake.md
  documentation/specs/src/economics/proof-of-stake/bonding-mechanism.md
  documentation/specs/src/economics/proof-of-stake/cubic-slashing.md
  documentation/specs/src/economics/proof-of-stake/reward-distribution.md
  documentation/specs/src/economics/public-goods-funding.md
  documentation/specs/src/further-reading.md
  documentation/specs/src/interoperability/ethereum-bridge.md
  documentation/specs/src/interoperability/ibc.md
  documentation/specs/src/introduction.md
  documentation/specs/src/masp.md
  documentation/specs/src/masp/asset-type.md
  documentation/specs/src/masp/burn-and-mint.md
  documentation/specs/src/masp/ledger-integration.md
  documentation/specs/src/masp/trusted-setup.md
  documentation/specs/src/user-interfaces/external-integrations.md
  documentation/specs/src/user-interfaces/web-explorer-interface.md
  documentation/specs/src/user-interfaces/web-wallet-interface.md
  documentation/specs/src/user-interfaces/web-wallet.md
Labels: skip-devnet-tests

#646 Fix e2e tests
  scripts/unwrap_e2e_log.py
  tests/Cargo.toml
  tests/src/e2e/eth_bridge_tests.rs
  tests/src/e2e/ledger_tests.rs
  tests/src/e2e/setup.rs
Labels: bug, ledger, ethereum-bridge

#575 Add chain parameters for the Ethereum bridge
  apps/src/lib/config/ethereum_bridge/ledger.rs
  apps/src/lib/config/ethereum_bridge/mod.rs
  apps/src/lib/config/ethereum_bridge/params.rs
  apps/src/lib/config/genesis.rs
  apps/src/lib/config/mod.rs
  apps/src/lib/node/ledger/mod.rs
  tests/src/e2e/ledger_tests.rs
  tests/src/e2e/setup.rs
Labels: ethereum-bridge

#571 Update the Ethereum bridge oracle to process blocks in sequence from zero
  apps/src/lib/node/ledger/ethereum_node/oracle.rs
  apps/src/lib/node/ledger/ethereum_node/test_tools/mod.rs
Labels: ethereum-bridge

#679 Derive BorshSchema on vote extension types
  shared/src/types/vote_extensions/ethereum_events.rs
  shared/src/types/vote_extensions/validator_set_update.rs
Labels: bug, ledger, ethereum-bridge

#689 Backport shim fix to eth-bridge-integration
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shims/abcipp_shim.rs
  wasm/checksums.json
Labels: ethereum-bridge
