Repository namada-net/namada, pull requests merged in 2023-01, with the labels that each got.

#949 Fix link to install section
  README.md
Labels: documentation

#915 Add `EthereumBridgeConfig::read` method
  ethereum_bridge/src/parameters.rs
Labels: ethereum-bridge

#295 IBC integration design doc
  documentation/dev/src/SUMMARY.md
  documentation/dev/src/explore/design/ledger/ibc.md
  documentation/dev/src/explore/design/ledger/ibc/transfer.svg
  documentation/specs/src/interoperability/ibc.md
Labels: documentation, IBC

#995 Fix `cargo doc` and the makefile
  Makefile
  apps/src/lib/node/ledger/shell/block_space_alloc/states.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  core/src/ledger/eth_bridge/storage/bridge_pool.rs
Labels: documentation, ethereum-bridge

#978 Including the PoW faucet and fees into docs
  documentation/docs/src/SUMMARY.md
  documentation/docs/src/quick-start.md
  documentation/docs/src/testnets/pow.md
  documentation/docs/src/user-guide/ledger/masp.md
  documentation/docs/src/user-guide/wallet/an-introduction-to-namada-addresses.md
  documentation/docs/src/user-guide/wallet/fees.md
Labels: documentation

#996 Write proofs to storage along with their respective validator set updates
  Cargo.lock
  ethereum_bridge/Cargo.toml
  ethereum_bridge/src/lib.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/mod.rs
  ethereum_bridge/src/protocol/transactions/validator_set_update/mod.rs
  ethereum_bridge/src/protocol/transactions/votes/storage.rs
  ethereum_bridge/src/storage/mod.rs
  ethereum_bridge/src/storage/proof.rs
  ethereum_bridge/src/storage/vote_tallies.rs
  ethereum_bridge/src/test_utils.rs
Labels: ledger, ethereum-bridge

#1005 Update doc for IBC relayer
  documentation/docs/src/user-guide/ibc.md
Labels: documentation

#1049 Update TransferToEthereum event definition
  apps/src/lib/node/ledger/ethereum_node/events.rs
  apps/src/lib/node/ledger/ethereum_node/oracle/mod.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  core/src/types/ethereum_events.rs
Labels: ethereum-bridge

#1038 Swap block height nonces with epoch values in validator set updates
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/queries.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  core/src/types/vote_extensions/validator_set_update.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/mod.rs
  ethereum_bridge/src/protocol/transactions/utils.rs
  ethereum_bridge/src/protocol/transactions/validator_set_update/mod.rs
  ethereum_bridge/src/storage/eth_bridge_queries.rs
Labels: ledger, ethereum-bridge

#1060 Add new Ethereum bridge RPC endpoints to query validator sets
  apps/src/lib/client/eth_bridge_pool.rs
  apps/src/lib/node/ledger/shell/mod.rs
  core/src/types/eth_abi.rs
  core/src/types/ethereum_events.rs
  core/src/types/vote_extensions/validator_set_update.rs
  core/src/types/voting_power.rs
  ethereum_bridge/src/protocol/transactions/validator_set_update/mod.rs
  ethereum_bridge/src/storage/eth_bridge_queries.rs
  ethereum_bridge/src/storage/proof.rs
  ethereum_bridge/src/test_utils.rs
  shared/src/ledger/queries/shell.rs
  shared/src/ledger/queries/shell/eth_bridge.rs
Labels: ledger, client, ethereum-bridge

#1013 Add multitoken spec
  documentation/specs/src/base-ledger/fungible-token.md
Labels: documentation

#935 Update Namada specs
  documentation/specs/src/SUMMARY.md
  documentation/specs/src/base-ledger.md
  documentation/specs/src/base-ledger/consensus.md
  documentation/specs/src/base-ledger/core-concepts.md
  documentation/specs/src/base-ledger/default-account.md
  documentation/specs/src/base-ledger/execution.md
  documentation/specs/src/base-ledger/governance.md
  documentation/specs/src/further-reading.md
  documentation/specs/src/index.md
  documentation/specs/src/introduction.md
Labels: documentation, spec

#1094 Add validator set update CLI commands
  apps/src/bin/namada-client/cli.rs
  apps/src/bin/namada-relayer/cli.rs
  apps/src/bin/namada/cli.rs
  apps/src/lib/cli.rs
  apps/src/lib/cli/context.rs
  apps/src/lib/client/eth_bridge.rs
  apps/src/lib/client/eth_bridge/bridge_pool.rs
  apps/src/lib/client/eth_bridge/validator_set.rs
  apps/src/lib/client/mod.rs
  core/src/types/eth_abi.rs
  tests/src/e2e/eth_bridge_tests.rs
  tests/src/e2e/setup.rs
Labels: client, ethereum-bridge
