Repository namada-net/namada, pull requests merged in 2023-04, with the labels that each got.

#1271 Handle Ethereum event nonces
  apps/src/lib/node/ledger/ethereum_oracle/events.rs
  apps/src/lib/node/ledger/ethereum_oracle/mod.rs
  apps/src/lib/node/ledger/shell/finalize_block.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/node/ledger/shell/prepare_proposal.rs
  apps/src/lib/node/ledger/shell/process_proposal.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/storage/rocksdb.rs
  core/src/ledger/eth_bridge/storage/bridge_pool.rs
  core/src/ledger/storage/mockdb.rs
  core/src/ledger/storage/mod.rs
  core/src/types/ethereum.rs
  core/src/types/ethereum_events.rs
  core/src/types/storage.rs
  ethereum_bridge/src/bridge_pool_vp.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/events.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/mod.rs
  ethereum_bridge/src/storage/eth_bridge_queries.rs
  ethereum_bridge/src/storage/vote_tallies.rs
  shared/src/ledger/protocol/mod.rs
  tests/src/e2e/eth_bridge_tests.rs
  tests/src/e2e/eth_bridge_tests/helpers.rs
Labels: ledger, ethereum-bridge

#1285 Rename `active` to `consensus` validators
  apps/src/bin/namada-relayer/cli.rs
  apps/src/lib/cli.rs
  apps/src/lib/client/eth_bridge/validator_set.rs
  apps/src/lib/node/ledger/shell/vote_extensions.rs
  apps/src/lib/node/ledger/shell/vote_extensions/bridge_pool_vext.rs
  apps/src/lib/node/ledger/shell/vote_extensions/eth_events.rs
  apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  core/src/types/vote_extensions/ethereum_events.rs
  core/src/types/vote_extensions/validator_set_update.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/mod.rs
  ethereum_bridge/src/protocol/transactions/utils.rs
  ethereum_bridge/src/storage/eth_bridge_queries.rs
  ethereum_bridge/src/test_utils.rs
  proof_of_stake/src/pos_queries.rs
  shared/src/ledger/queries/shell/eth_bridge.rs
Labels: ledger, ethereum-bridge

#1286 Fix BP nonce increment
  apps/src/lib/node/ledger/shell/finalize_block.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/events.rs
Labels: ledger, ethereum-bridge

#1300 Refactor Bridge pool VP
  shared/src/ledger/native_vp/ethereum_bridge/bridge_pool_vp.rs
Labels: bug, ledger, ethereum-bridge

#1307 Burn ERC20s
  apps/src/lib/node/ledger/shell/finalize_block.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/events.rs
  shared/src/ledger/native_vp/ethereum_bridge/vp.rs
  shared/src/ledger/queries/shell/eth_bridge.rs
  tests/src/e2e/eth_bridge_tests.rs
  tests/src/e2e/eth_bridge_tests/helpers.rs
  tests/src/e2e/helpers.rs
Labels: ledger, ethereum-bridge

#1322 fixed typo
  documentation/docs/src/README.md
Labels: documentation

#1324 Install protoc to build with the new prost (3/n)
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
  .github/workflows/checks.yml
  .github/workflows/cron.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
Labels: CI
