Repository namada-net/namada, pull requests merged in 2023-05, with the labels that each got.

#1320 Accept validator set updates from previous epochs (pt. 2)
  core/src/types/storage.rs
  ethereum_bridge/src/protocol/transactions/bridge_pool_roots.rs
  ethereum_bridge/src/protocol/transactions/ethereum_events/mod.rs
  ethereum_bridge/src/protocol/transactions/utils.rs
  ethereum_bridge/src/protocol/transactions/validator_set_update/mod.rs
  proof_of_stake/src/pos_queries.rs
  shared/src/ledger/protocol/mod.rs
  shared/src/ledger/queries/shell/eth_bridge.rs
Labels: bug, ledger, ethereum-bridge

#1326 Time out old Ethereum events before acting on any new events
  ethereum_bridge/src/protocol/transactions/ethereum_events/mod.rs
Labels: bug, ledger, ethereum-bridge

#1323 tests: move PoW challenge and solution to tests crate to remove cycle
  Cargo.lock
  core/Cargo.toml
  core/src/ledger/testnet_pow.rs
  tests/src/storage_api/mod.rs
  tests/src/storage_api/testnet_pow.rs
Labels: testing, skip-devnet-tests

#1283 Specs revision
  documentation/specs/src/interoperability/ethereum-bridge.md
  documentation/specs/src/interoperability/ethereum-bridge/bootstrapping.md
  documentation/specs/src/interoperability/ethereum-bridge/ethereum_events_attestation.md
  documentation/specs/src/interoperability/ethereum-bridge/ethereum_smart_contracts.md
  documentation/specs/src/interoperability/ethereum-bridge/images/transfer-to-eth-flow.svg
  documentation/specs/src/interoperability/ethereum-bridge/proofs.md
  documentation/specs/src/interoperability/ethereum-bridge/transfers_to_ethereum.md
  documentation/specs/src/interoperability/ethereum-bridge/transfers_to_namada.md
Labels: documentation, spec, ethereum-bridge

#1338 Broadcast validator set update protocol txs from `namadac`
  apps/src/bin/namada-client/cli.rs
  apps/src/lib/cli.rs
  apps/src/lib/client/eth_bridge/bridge_pool.rs
  apps/src/lib/client/eth_bridge/validator_set.rs
  apps/src/lib/node/ledger/shell/mod.rs
  apps/src/lib/wallet/mod.rs
  shared/src/ledger/queries/shell/eth_bridge.rs
Labels: client, ethereum-bridge

#1340 Emit warnings for fallible Bridge pool relays
  Cargo.lock
  apps/Cargo.toml
  apps/src/lib/client/eth_bridge/bridge_pool.rs
  core/Cargo.toml
  shared/src/ledger/queries/shell/eth_bridge.rs
  wasm/Cargo.lock
  wasm_for_tests/wasm_source/Cargo.lock
Labels: ledger, client, ethereum-bridge

#1346 PR #1340 (adjustment 1)
  apps/src/lib/client/eth_bridge/bridge_pool.rs
Labels: client, ethereum-bridge

#1347 Prevent unsuccessful validator set update relays
  apps/src/lib/cli.rs
  apps/src/lib/client/eth_bridge.rs
  apps/src/lib/client/eth_bridge/validator_set.rs
  apps/src/lib/client/rpc.rs
  apps/src/lib/control_flow.rs
  apps/src/lib/control_flow/timeouts.rs
  apps/src/lib/mod.rs
  apps/src/lib/node/ledger/abortable.rs
  apps/src/lib/node/ledger/ethereum_oracle/mod.rs
Labels: client, ethereum-bridge

#1351 PR #1340 (adjustment 2)
  apps/src/lib/cli.rs
  apps/src/lib/client/eth_bridge/bridge_pool.rs
Labels: client, ethereum-bridge

#1029 changed unrendered emojis
  documentation/docs/src/user-guide/FAQ.md
  documentation/docs/src/user-guide/ibc.md
Labels: documentation

#1317 update contributing guide
  CONTRIBUTING.md
Labels: documentation, skip-devnet-tests

#1352 Keep oracle running if the Ethereum node is still available
  apps/src/lib/client/eth_bridge.rs
  apps/src/lib/client/eth_bridge/validator_set.rs
  apps/src/lib/client/rpc.rs
  apps/src/lib/control_flow/timeouts.rs
  apps/src/lib/node/ledger/ethereum_oracle/mod.rs
  apps/src/lib/node/ledger/ethereum_oracle/test_tools/mod.rs
Labels: bug, ledger, ethereum-bridge

#1383 PR #1338 (adjustment 1)
  apps/src/bin/namada-node/cli.rs
  apps/src/lib/cli.rs
  apps/src/lib/node/ledger/mod.rs
  tests/src/e2e/eth_bridge_tests.rs
  tests/src/e2e/eth_bridge_tests/helpers.rs
  tests/src/e2e/helpers.rs
Labels: testing, ethereum-bridge

#1385 Oracle start height governance parameter
  apps/src/lib/config/genesis.rs
  apps/src/lib/node/ledger/shell/mod.rs
  core/src/ledger/eth_bridge/storage/mod.rs
  core/src/types/ethereum_structs.rs
  documentation/specs/src/interoperability/ethereum-bridge/bootstrapping.md
  ethereum_bridge/src/parameters.rs
  ethereum_bridge/src/test_utils.rs
  shared/src/ledger/native_vp/ethereum_bridge/bridge_pool_vp.rs
  shared/src/ledger/native_vp/ethereum_bridge/vp.rs
  tests/src/e2e/eth_bridge_tests.rs
  tests/src/e2e/eth_bridge_tests/helpers.rs
  tests/src/native_vp/eth_bridge_pool.rs
Labels: ledger, ethereum-bridge

#1412 ci: run with maint-* target branch
  .github/workflows/build-and-test.yml
Labels: CI, skip-devnet-tests

#1450 tomas/fix failing storage test
  core/proptest-regressions/ledger/storage/mod.txt
  core/src/ledger/storage/mod.rs
Labels: testing, skip-devnet-tests

#1463 Introduce env variable for customization of path to E2E tests temp folder
  tests/src/e2e/setup.rs
Labels: testing, skip-devnet-tests

#1472 ci: update masp parameter download url
  .github/workflows/build-and-test-bridge.yml
  .github/workflows/build-and-test.yml
Labels: CI, skip-devnet-tests

#1390 tests: bump expectrl to 0.7.0
  Cargo.lock
  tests/Cargo.toml
  tests/src/e2e/ledger_tests.rs
  tests/src/e2e/setup.rs
Labels: testing
