Repository namada-net/namada, pull requests merged in 2023-08, with the labels that each got.

#1768 pre-built MASP proofs for integration tests
  .changelog/unreleased/testing/1768-pregen-masp-proofs.md
  Cargo.toml
  Makefile
  shared/src/ledger/masp.rs
  shared/src/ledger/tx.rs
  test_fixtures/masp_proofs/0DAF8BDF2318129AC828A7149AC83E76506147445D4DC22D57CBC9869BCDDA80.bin
  test_fixtures/masp_proofs/12C933751C24BDC39C9108F5AF5D4C1BF345378A4FB6BB0B179BA8BDB0D2A3C0.bin
  test_fixtures/masp_proofs/1362F1CF9B836CF8B05D8189EA9CB1712CCA85B0E96A3330A63BE7CD9E5ECD22.bin
  test_fixtures/masp_proofs/5B99F3D7E0CE75AB1F4B737EC88B269A5436CD72AA758686960F409B04841707.bin
  test_fixtures/masp_proofs/889C046FA76727BC97433503BB79BAC90BA1F01653EBCFDCF7CC8AAA1BBEE462.bin
  test_fixtures/masp_proofs/8B29BC2E1A96DF331C7C3A2B227C98D1E5AAAA9988F26B1A47090ACCE693572F.bin
  test_fixtures/masp_proofs/A9FA2730222946FA51E9D587544FDED28D5E7D3C6B52DCF38A5978CEA70D6FD3.bin
  test_fixtures/masp_proofs/AC308C08512AF5DAA364B845D146763B3CE0BACFB7799C6744E50B9E7F43E961.bin
  test_fixtures/masp_proofs/BE57BA4D8FB068F5A933E78DEF2989556FD771D368849D034E22923FD350EEEC.bin
  test_fixtures/masp_proofs/E76E54B7526CD2B5423322FB711C0CA6AA6520A2AC8BC34A84358EA137F138D0.bin
  test_fixtures/masp_proofs/EE7C912B7E21F07494D58AA6668DC6BBB31619C7E93A1A5A2E64B694DBE1BD6E.bin
  test_fixtures/masp_proofs/F068FDF05B8F25DD923E667215344FFFAA6CA273027CD480AEA68DDED57D88CA.bin
  test_fixtures/masp_proofs/README.md
Labels: testing

#1814 Mention CometBFT in the README.md
  README.md
Labels: skip-devnet-tests

#1737 Upgrade ibc-rs to 0.41.0
  .changelog/unreleased/features/1635-ibc-rs-0.41.0.md
  Cargo.lock
  Cargo.toml
  apps/src/lib/cli.rs
  core/Cargo.toml
  core/src/ledger/ibc/context/common.rs
  core/src/ledger/ibc/context/execution.rs
  core/src/ledger/ibc/context/router.rs
  core/src/ledger/ibc/context/transfer_mod.rs
  core/src/ledger/ibc/context/validation.rs
  core/src/ledger/ibc/mod.rs
  core/src/ledger/ibc/storage.rs
  core/src/types/address.rs
  core/src/types/ibc.rs
  shared/src/ledger/args.rs
  shared/src/ledger/events/log/dumb_queries.rs
  shared/src/ledger/ibc/vp/mod.rs
  shared/src/ledger/signing.rs
  shared/src/ledger/tx.rs
  tests/Cargo.toml
  tests/src/e2e/ibc_tests.rs
  tests/src/vm_host_env/ibc.rs
  tests/src/vm_host_env/mod.rs
  wasm/Cargo.lock
  wasm_for_tests/wasm_source/Cargo.lock
Labels: IBC
