Repository namada-net/namada, pull requests merged in 2024-02, with the labels that each got.

#2489 Fix handling of the optional BIP39 passphrase flag
  .changelog/unreleased/bug-fixes/2489-bip39-optional-derive.md
  crates/apps/src/lib/cli/wallet.rs
  crates/sdk/src/wallet/mod.rs
  crates/sdk/src/wallet/store.rs
Labels: wallet

#2490 Print generated payment address
  .changelog/unreleased/improvements/2490-wallet-display-gen-payment-addr.md
  crates/apps/src/lib/cli/wallet.rs
Labels: wallet

#2543 Add internal addresses to wallet upon `join-network`
  .changelog/unreleased/improvements/2543-wallet-internal-addresses.md
  crates/apps/src/lib/config/genesis/chain.rs
  crates/sdk/src/wallet/store.rs
Labels: wallet, merged to draft

#2558 Fix query of protocol params
  .changelog/unreleased/improvements/2558-fix-query-protocol-parameters.md
  crates/apps/src/lib/client/rpc.rs
Labels: client, merged to draft

#2578 Reject validator set updates with a superset of the next validator set
  .changelog/unreleased/bug-fixes/2578-superset-valset-bug.md
  crates/apps/src/lib/node/ledger/shell/mod.rs
  crates/apps/src/lib/node/ledger/shell/vote_extensions/val_set_update.rs
  crates/ethereum_bridge/src/protocol/validation.rs
  crates/ethereum_bridge/src/protocol/validation/validator_set_update.rs
Labels: bug, ethereum-bridge

#2573 Fix query-proposal-result
  .changelog/unreleased/bug-fixes/2573-fix-query-proposal-result.md
  crates/apps/src/lib/client/rpc.rs
  crates/governance/src/utils.rs
  crates/tests/src/e2e/ledger_tests.rs
Labels: governance

#2653 Fix CometBFT validator set update
  .changelog/unreleased/bug-fixes/2653-fix-validator-set-update-with-ck.md
  crates/apps/src/lib/node/ledger/shell/mod.rs
  crates/proof_of_stake/src/lib.rs
  crates/proof_of_stake/src/tests/helpers.rs
  crates/proof_of_stake/src/tests/test_validator.rs
  crates/proof_of_stake/src/types/mod.rs
  crates/proof_of_stake/src/validator_set_update.rs
Labels: PoS, breaking-change

#2611 Show help for query-proposal-votes when no arg provided
  .changelog/unreleased/improvements/2611-show-help-for-query-proposal-votes.md
  crates/apps/src/lib/cli.rs
Labels: merged to draft

#2625 Fix the balance query for IBC tokens
  .changelog/unreleased/bug-fixes/2625-fix-shielded-balance-query.md
  crates/apps/src/lib/client/rpc.rs
  crates/sdk/src/masp.rs
  crates/sdk/src/tx.rs
Labels: merged to draft, non-breaking-change

#2657 Crash the ledger if committing a block fails
  .changelog/unreleased/bug-fixes/2657-commit-failure.md
  crates/apps/src/lib/node/ledger/shell/mod.rs
Labels: bug, ledger, merged to draft, non-breaking-change

#2658 Allow use of other protocol in CLI
  .changelog/unreleased/improvements/2658-allow-http-url-cli.md
  Cargo.lock
  crates/apps/Cargo.toml
  crates/apps/src/lib/cli.rs
  crates/apps/src/lib/cli/api.rs
  crates/apps/src/lib/cli/context.rs
  crates/apps/src/lib/config/genesis/transactions.rs
  crates/apps/src/lib/node/ledger/shell/testing/client.rs
  crates/sdk/src/args.rs
  crates/sdk/src/lib.rs
  crates/tests/src/e2e/helpers.rs
  crates/tests/src/e2e/ibc_tests.rs
  crates/tests/src/e2e/ledger_tests.rs
  crates/tests/src/integration/masp.rs
Labels: cli, merged to draft

#2668 fix: increase timeout from 30 to 180
  .changelog/unreleased/improvements/2668-time-out.md
  crates/apps/src/lib/node/ledger/broadcaster.rs
Labels: merged to draft

#2516 Feature : add a new cli 'wallet convert' command for coverting tendermnint key json file
  .changelog/unreleased/features/2516-consensus-key-to-tm-key.md
  crates/apps/src/lib/cli.rs
  crates/apps/src/lib/cli/wallet.rs
  crates/apps/src/lib/node/ledger/tendermint_node.rs
  crates/sdk/src/args.rs
Labels: merged to draft

#2545 cli: allow to use global args at any position (before or after subcmd)
  .changelog/unreleased/improvements/2545-cli-flexible-global-args-pos.md
  crates/apps/src/lib/cli.rs
Labels: cli, merged to draft

#2572 Show additional proposal data in namada client query-proposal
  Cargo.lock
  crates/governance/Cargo.toml
  crates/governance/src/cli/onchain.rs
  crates/governance/src/pgf/storage/mod.rs
  crates/governance/src/storage/proposal.rs
  crates/namada/src/ledger/governance/mod.rs
  wasm/Cargo.lock
  wasm_for_tests/wasm_source/Cargo.lock
Labels: merged to draft

#2707 test/e2e/test_sync_chain: add seed_nodes param
  .github/workflows/triggerable_sync.yml
  crates/tests/src/e2e/ledger_tests.rs
Labels: testing, CI

#2634 Fix the token address when shielded transfer back to Namada
  .changelog/unreleased/bug-fixes/2634-fix-ibc-shielded-transfer-back.md
  crates/ibc/src/lib.rs
  crates/tests/src/e2e/ibc_tests.rs
Labels: non-breaking-change

#2670 Add slashed bonds/unbonds info to the client
  .changelog/unreleased/improvements/2670-client-slashed-bonds.md
  crates/apps/src/lib/client/rpc.rs
  crates/tests/src/e2e/ledger_tests.rs
Labels: cli, non-breaking-change

#2701 Fix default node param protocol for cli calls
  .changelog/unreleased/bug-fixes/2701-fix-default-node.md
  crates/apps/src/lib/cli/context.rs
  crates/tests/src/e2e/ledger_tests.rs
Labels: non-breaking-change

#2727 Murisi/test vectors 0.31.6
  .changelog/unreleased/improvements/2588-test-vectors-0.30.2-rev-1.md
  Cargo.lock
  crates/governance/src/storage/proposal.rs
  crates/sdk/src/lib.rs
  crates/sdk/src/masp.rs
  crates/sdk/src/signing.rs
  examples/Cargo.toml
  examples/generate_txs.rs
Labels: ready for draft, non-breaking-change

#2482 refactor finalize block
  .changelog/unreleased/improvements/2482-refactor-finalize-block.md
  Cargo.lock
  crates/apps/src/lib/node/ledger/shell/finalize_block.rs
  crates/apps/src/lib/node/ledger/shell/governance.rs
  crates/apps/src/lib/node/ledger/shell/mod.rs
  crates/core/src/event.rs
  crates/core/src/lib.rs
  crates/proof_of_stake/src/lib.rs
  crates/proof_of_stake/src/rewards.rs
  crates/proof_of_stake/src/slashing.rs
  crates/proof_of_stake/src/tests/test_pos.rs
  crates/sdk/src/error.rs
  crates/sdk/src/events/mod.rs
  crates/shielded_token/src/conversion.rs
  crates/token/Cargo.toml
  crates/token/src/lib.rs
  crates/tx/src/lib.rs
  wasm/Cargo.lock
  wasm_for_tests/wasm_source/Cargo.lock
Labels: modularization, non-breaking-change

#2757 wasm-cache: add versioning
  .changelog/unreleased/improvements/2757-wasm-cache-versioning.md
  crates/namada/src/vm/wasm/compilation_cache/common.rs
Labels: non-breaking-change

#2761 Downgrade nightly toolchain
  .changelog/unreleased/bug-fixes/2761-downgrade-nightly-toolchain.md
  crates/apps/src/lib/client/utils.rs
  crates/tests/src/vm_host_env/tx.rs
  rust-nightly-version
Labels: bug, non-breaking-change

#2762 sdk: re-pub masp types from core
  .changelog/unreleased/SDK/2762-pub-masp-types.md
  crates/sdk/src/masp.rs
Labels: non-breaking-change
