Repository namada-net/namada, pull requests merged in 2024-06, with the labels that each got.

#3315 Only grow wasm memory with write ops
  .changelog/unreleased/improvements/3315-wasmer-read-only-mem.md
  crates/namada/src/vm/wasm/memory.rs
  crates/namada/src/vm/wasm/run.rs
Labels: ledger, wasm, merged to draft, ready for draft, breaking:state

#3318 Custom masp epoch tracker
  .changelog/unreleased/improvements/3318-masp-custom-epoch.md
  crates/apps_lib/src/cli.rs
  crates/apps_lib/src/client/rpc.rs
  crates/apps_lib/src/client/tx.rs
  crates/apps_lib/src/config/genesis.rs
  crates/apps_lib/src/config/genesis/chain.rs
  crates/apps_lib/src/config/genesis/templates.rs
  crates/core/src/masp.rs
  crates/core/src/parameters.rs
  crates/namada/src/ledger/native_vp/masp.rs
  crates/node/src/bench_utils.rs
  crates/node/src/shell/finalize_block.rs
  crates/node/src/shell/testing/node.rs
  crates/node/src/storage/mod.rs
  crates/parameters/src/lib.rs
  crates/parameters/src/storage.rs
  crates/proof_of_stake/src/lib.rs
  crates/sdk/src/args.rs
  crates/sdk/src/masp.rs
  crates/sdk/src/queries/shell.rs
  crates/sdk/src/rpc.rs
  crates/sdk/src/tx.rs
  crates/shielded_token/src/conversion.rs
  crates/state/src/lib.rs
  crates/state/src/wl_state.rs
  crates/storage/src/conversion_state.rs
  crates/tests/src/e2e/ibc_tests.rs
  crates/tests/src/integration/masp.rs
  crates/token/src/lib.rs
  genesis/localnet/parameters.toml
  genesis/starter/parameters.toml
Labels: merged to draft, ready for draft

#3333 cli: use the default configured node addr for shielded sync
  .changelog/unreleased/improvements/3333-sync-default-node-addr.md
  crates/apps_lib/src/cli.rs
  crates/apps_lib/src/cli/client.rs
  crates/sdk/src/args.rs
Labels: merged to draft, ready for draft

#3339 governance: all vps should allow governance changes
  crates/namada/src/ledger/governance/mod.rs
  crates/namada/src/ledger/native_vp/ibc/mod.rs
  crates/namada/src/ledger/native_vp/masp.rs
  crates/namada/src/ledger/native_vp/multitoken.rs
  crates/namada/src/ledger/pgf/mod.rs
  crates/node/src/shell/governance.rs
  crates/trans_token/src/storage_key.rs
  wasm_for_tests/Cargo.lock
  wasm_for_tests/Cargo.toml
  wasm_for_tests/tx_fail.wasm
  wasm_for_tests/tx_infinite_guest_gas.wasm
  wasm_for_tests/tx_infinite_host_gas.wasm
  wasm_for_tests/tx_invalid_data.wasm
  wasm_for_tests/tx_memory_limit.wasm
  wasm_for_tests/tx_no_op.wasm
  wasm_for_tests/tx_proposal_code.wasm
  wasm_for_tests/tx_proposal_code/Cargo.toml
  wasm_for_tests/tx_proposal_code/src/lib.rs
  wasm_for_tests/tx_proposal_ibc_token_inflation.wasm
  wasm_for_tests/tx_proposal_masp_reward.wasm
  wasm_for_tests/tx_read_storage_key.wasm
  wasm_for_tests/tx_write.wasm
  wasm_for_tests/vp_always_false.wasm
  wasm_for_tests/vp_always_true.wasm
  wasm_for_tests/vp_evail.wasm
  wasm_for_tests/vp_eval.wasm
  wasm_for_tests/vp_infinite_guest_gas.wasm
  wasm_for_tests/vp_infinite_host_gas.wasm
  wasm_for_tests/vp_memory_limit.wasm
  wasm_for_tests/vp_read_storage_key.wasm
Labels: merged to draft, ready for draft, governance

#3340 sdk/queries/vp/pos: sanitize the input of `validator_by_tm_addr`
  .changelog/unreleased/bug-fixes/3340-validator--by-tm-addr.md
  crates/sdk/src/queries/vp/pos.rs
Labels: merged to draft, ready for draft

#3348 Allow NAM transfers for protocol actions in Multitoken VP
  .changelog/unreleased/improvements/3348-allow-protocol-nam-transf.md
  crates/namada/src/ledger/native_vp/multitoken.rs
Labels: ledger, PoS, merged to draft, ready for draft, governance

#3349 Select gas payer from implicit address
  .changelog/unreleased/improvements/3349-gas-payer-from-implicit-addr.md
  crates/apps_lib/src/cli/context.rs
  crates/sdk/src/wallet/mod.rs
Labels: enhancement, cli, merged to draft, ready for draft

#3350 Remove old disposable keys from the wallet
  .changelog/unreleased/improvements/3350-diposable-keys-cleanup.md
  crates/core/src/time.rs
  crates/sdk/src/wallet/mod.rs
Labels: enhancement, wallet, SDK, merged to draft, ready for draft

#3351 masp adjustments
  .changelog/unreleased/improvements/3351-masp-adjustments.md
  crates/shielded_token/src/conversion.rs
Labels: merged to draft, ready for draft

#3357 Upgrade smooth-operator to v0.7.0
  Cargo.lock
  Cargo.toml
  wasm/Cargo.lock
  wasm_for_tests/Cargo.lock
Labels: merged to draft, ready for draft
