Repository namada-net/namada, pull requests merged in 2025-10, with the labels that each got.

#4878 Update masp to `v3.0.8`
  .changelog/unreleased/bug-fixes/4878-update-to-masp-v3.0.6.md
  Cargo.lock
  Cargo.toml
  wasm/Cargo.lock
  wasm_for_tests/Cargo.lock
Labels: bug, MASP, merge, backport-libs-0.251, backport-201.0, queued

#4906 Improve shielded sync (backport #4785)
  .changelog/unreleased/improvements/4785-bridge-tree-shielded-wallet.md
  Cargo.lock
  Cargo.toml
  Makefile
  crates/apps_lib/Cargo.toml
  crates/apps_lib/src/client/masp.rs
  crates/sdk/Cargo.toml
  crates/sdk/src/masp/utilities.rs
  crates/shielded_token/Cargo.toml
  crates/shielded_token/src/masp.rs
  crates/shielded_token/src/masp/bridge_tree.rs
  crates/shielded_token/src/masp/shielded_sync/dispatcher.rs
  crates/shielded_token/src/masp/shielded_sync/mod.rs
  crates/shielded_token/src/masp/shielded_sync/utils.rs
  crates/shielded_token/src/masp/shielded_wallet.rs
  crates/shielded_token/src/masp/test_utils.rs
  crates/shielded_token/src/masp/wallet_migrations.rs
  wasm/Cargo.lock
  wasm_for_tests/Cargo.lock
Labels: merge, queued

#4776 The MASP conversions query now requires a MASP epoch to be specified.
  .changelog/unreleased/improvements/4776-query-conversions-requires-masp-epoch.md
  crates/apps_lib/src/client/masp.rs
  crates/apps_lib/src/client/rpc.rs
  crates/sdk/src/queries/shell.rs
  crates/sdk/src/rpc.rs
Labels: MASP, merge, breaking:api, backport-201.0, queued

#4883 Skip conversions with no rewards
  .changelog/unreleased/SDK/4789-no-zero-reward-convs.md
  crates/benches/Cargo.toml
  crates/benches/native_vps.rs
  crates/node/src/bench_utils.rs
  crates/shielded_token/src/masp/shielded_wallet.rs
  crates/tests/src/integration/masp.rs
Labels: MASP, SDK, non-breaking-change, merge, backport-libs-0.251, backport-201.0, queued
