Repository namada-net/namada, pull requests merged in 2025-05, with the labels that each got.

#4540 Implemented logic to update transaction WASMs in hard-fork migration.
  .changelog/unreleased/testing/4540-migrate-wasms.md
  Cargo.lock
  examples/Cargo.toml
  examples/make-db-migration.rs
Labels: merge, backport-libs-0.149

#4631 Slow down the epochs in tricky_masp_txs.
  .changelog/unreleased/testing/4631-fix-flaky-tricky_masp_txs.md
  crates/tests/src/integration/masp.rs
Labels: testing, MASP, merge, backport-libs-0.149

#4589 Murisi/set masp params migration
  .changelog/unreleased/testing/4589-set-masp-params-migration.md
  examples/make-db-migration.rs
Labels: MASP, merge, backport-libs-0.149

#4541 Improve MASP fee payment errors
  .changelog/unreleased/improvements/4541-better-masp-fee-payment-vp-err.md
  crates/node/src/protocol.rs
Labels: ledger, non-breaking-change, merge, backport-libs-0.149

#4651 Combined transfer inputs and outputs.
  .changelog/unreleased/improvements/4651-combine-inputs.md
  crates/apps_lib/src/cli.rs
  crates/apps_lib/src/client/tx.rs
  crates/node/src/bench_utils.rs
  crates/sdk/src/args.rs
  crates/sdk/src/lib.rs
  crates/sdk/src/tx.rs
  crates/shielded_token/src/masp.rs
  crates/shielded_token/src/masp/shielded_wallet.rs
  crates/tests/src/integration/masp.rs
Labels: UX, MASP, SDK, merge, breaking:api
